.no_lifeline {
  margin-top: 15px;
  margin-left: 15px;
  color: red;
  font-size: 4em;
  font-weight: 600;
  float: left;
  width: 50%;

  .details {
    font-size: 0.5em;
    font-weight: normal;
  }
}